.high-score-modal,
.congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-score-modal {
  background-color: #292030;
  height: 570px;
  width: 400px;
  border-radius: 10px;
  color: white;
  position: fixed;
  left: calc(50% - 200px);
  top: calc(50% - 210px);
}

.high-score-modal h2 {
  font-size: 1.15rem;
}

.high-score-modal h1 {
  margin-bottom: 0;
}

.high-score-modal button:hover {
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid white;
  padding-left: 5px;
}

table {
  width: 280px;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #3e3149;
}

th {
  text-align: left;
  height: 30px;
}

tr {
  height: 30px;
}

.congrats p {
  margin: 0;
}

.you td {
  background-color: #a46b00;
  font-weight: 900;
}