.high-score-modal,
.congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-score-modal {
  background-color: #292030;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  color: white;
}

.high-score-modal h2 {
  font-size: 1.15rem;
}

.high-score-modal h1 {
  margin-bottom: 0;
}

.high-score-modal button:hover {
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid white;
  padding-left: 5px;
}

table {
  width: 280px;
  border-collapse: collapse;
}

th {
  text-align: left;
}

table 

.congrats p {
  margin: 0;
}