.pop-up {
  display: flex;
  flex-direction: column;
  background-color: #292030;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  padding-right: 15px;
  border-radius: 5px;
  color: white;
  position: absolute;
  /* left: 57%;
  top: 50%; */
}

.pop-up div {
  display: flex;
}

.pop-up img {
  align-self: center;
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.pop-up :last-child img {
  transform: scale(.8);
}

.pop-up div:hover {
  cursor: pointer;
}