body {
  margin: 0;
}

header {
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292030;
  width: 100%;
  gap: 10px
}

.character-images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header img {
  width: 100px;
  height: auto;
  border-radius: 100%;
}

header p {
  margin: 0;
  color: white;
}
